<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item">
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-link nav-link" style="border: none; background: none;">
          Logout
        </button>
      </form>
    </li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="{% url 'neighborhood:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'neighborhood:user-list' %}">All neighbors</a></li>
  <li class="list-group-item"><a href="{% url 'neighborhood:district-list' %}">All districts</a></li>
  <li class="list-group-item"><a href="{% url 'neighborhood:post-list' %}">All posts</a></li>
</ul>
