{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Districts List
    <a href="{% url 'neighborhood:district-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form method="GET" action="" class="form-inline">
      {{ search_form|crispy }}
      <input type="submit" value="🔍" class="btn btn-secondary">
  </form>

  {% if district_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Neighbors</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for district in district_list %}
        <tr>
          <td>
              {{ district.id }}
          </td>
          <td>
              {{ district.name }}
          </td>
          <td>
              {{ district.user_count }}
          </td>
          <td>
              <a href="{% url 'neighborhood:district-update' pk=district.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'neighborhood:district-delete' pk=district.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no districts.</p>
  {% endif %}
{% endblock %}
