{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Post list
    <a href="{% url 'neighborhood:post-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form method="GET" action="" class="form-inline">
      {{ search_form|crispy }}
      <input type="submit" value="🔍" class="btn btn-secondary">
  </form>
  <br>
  {% if post_list %}
    <ul>
      {% for post in post_list %}
        <li>
          <a href="{% url "neighborhood:post-detail" pk=post.id %} ">{{ post.title }}</a>
          <b>Date:</b> {{ post.post_date }} <b>Author:</b> {{ post.user.username }}
        </li>
        <p>
          {{ post.text|truncatewords_html:15|safe }}
        </p>
        <hr>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no posts yet</p>
  {% endif %}
{% endblock %}
