{% extends 'base-fullscreen.html' %}
{% load static %}

{% block title %} {{ object|yesno:"Update,Create" }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} sign-in-illustration {% endblock body_class %}

{% block content %}

  {% include "includes/navigation.html" %}
  
  <section>
    <div class="page-header section-height-100">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto" style="margin-top: 70px;">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h4 class="font-weight-bolder">{{ object|yesno:"Update,Create" }}</h4>
                <p class="mb-0">Add your credentials and register</p>
              </div>
              <div class="card-body">
                <form role="form" method="post" action="">
                  {% csrf_token %}

                  {% if form.non_field_errors %}
                    <div class="text-danger text-sm mb-3 text-center">
                      {{ form.non_field_errors.0 }}
                    </div>
                  {% endif %}

                  <div class="mb-3">
                    <input type="text" name="username" class="form-control form-control-lg" placeholder="Username" aria-label="Username" value="{% if object %}{{ object.username }}{% endif %}" required id="{{ form.username.id_for_label }}">
                    {% if form.username.errors %}<div class="text-danger text-sm mt-1">{{ form.username.errors.0 }}</div>{% endif %}
                  </div>

                  <div class="mb-3">
                    <input type="text" name="first_name" class="form-control form-control-lg" placeholder="First Name" aria-label="First Name" value="{% if object %}{{ object.first_name }}{% endif %}" id="{{ form.first_name.id_for_label }}">
                  </div>

                  <div class="mb-3">
                    <input type="text" name="last_name" class="form-control form-control-lg" placeholder="Last Name" aria-label="Last Name" value="{% if object %}{{ object.last_name }}{% endif %}" id="{{ form.last_name.id_for_label }}">
                  </div>
                  <div class="mb-3">
                    <input type="password" name="password1" class="form-control form-control-lg" placeholder="Password" aria-label="Password" required id="{{ form.password1.id_for_label }}">
                    {% if form.password1.errors %}<div class="text-danger text-sm mt-1">{{ form.password1.errors.0 }}</div>{% endif %}
                  </div>
                  <div class="mb-3">
                    <input type="password" name="password2" class="form-control form-control-lg" placeholder="Confirm Password" aria-label="Confirm Password" required id="{{ form.password2.id_for_label }}">
                    {% if form.password2.errors %}<div class="text-danger text-sm mt-1">{{ form.password2.errors.0 }}</div>{% endif %}
                  </div>
                  <div class="mb-4 mt-4 px-1">
                    <h6 class="text-sm text-muted">Select your districts:</h6>
                    {% for checkbox in form.districts %}
                      <div class="form-check form-switch mb-2">
                        {{ checkbox.tag }}
                        <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                          {{ checkbox.choice_label }}
                        </label>
                      </div>
                    {% endfor %}
                    {% if form.districts.errors %}<div class="text-danger text-sm mt-1">{{ form.districts.errors.0 }}</div>{% endif %}
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="agreeTerms" required>
                    <label class="form-check-label" for="agreeTerms">
                      Agree with <a href="#">terms</a>
                    </label>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">{{ object|yesno:"Update,Register" }}</button>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                  Have an account?
                  <a href="/page-sign-in.html" class="text-primary text-gradient font-weight-bold">Sign IN</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
            <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
              <img src="{% static "assets/img/shapes/pattern-lines.svg" %}" alt="pattern-lines" class="position-absolute opacity-4 start-0">
              <div class="position-relative">
                <img class="max-width-500 w-100 position-relative z-index-2" src="{% static "assets/img/illustrations/chat.png" %}">
              </div>
              <h4 class="mt-5 text-white font-weight-bolder">
                Neighborhood Portal
              </h4>
              <p class="text-white">
                &copy; <a target="_blank" class="text-white" href="mailto:fop.gso@gmail.com" target="_blank">Sergio</a> 
                - Coded by <a class="text-white" target="_blank" href="mailto:fop.gso@gmail.com" target="_blank">Sergio</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="{% static "assets/js/soft-design-system.min.js" %}" type="text/javascript"></script>

{% endblock javascripts %}
